<div class="col-xs-9 col-sm-6 col-md-5 col-lg-4">
  <div class="well">
    <a class="btn btn-default stuck-top-left" ui-sref="home"><i class="fa fa-chevron-left"></i></a>
    <h1 class="text-center">contact</h1>
    <div class="contact-box">
      <h3>label/management</h3>
      <p>groenland records</p>
      <a class="btn btn-sm btn-default"  href="mailto:mareike@groenland.com?subject=I%20Have%20A%20Tribe" target="_blank"><i class="fa fa-envelope-o"></i>&nbsp;send email</a>
    </div>
    <div class="contact-box">
      <h3>live agent</h3>
      <p>Chris Meredith - ATC Live</p>
      <a class="btn btn-sm btn-default" href="mailto:chris@atc-live.com?subject=I%20Have%20A%20Tribe" target="_blank"><i class="fa fa-envelope-o"></i>&nbsp;send email</a>
    </div>
    <div class="contact-box">
      <h3>press enquiries</h3>
      <p>groenland records</p>
      <a class="btn btn-sm btn-default"  href="maitlo:info@groenland.com?subject=I%20Have%20A%20Tribe" target="_blank"><i class="fa fa-envelope-o"></i>&nbsp;send email</a>
    </div>
  </div>
</div>
