<div class="col-xs-7 col-sm-5 col-md-4 col-lg-3">
  <div class="well">
    <h1 class="text-center">i have a tribe</h1>
    <ul class="nav nav-pills nav-stacked">
      <li class="nav-menu-item">
        <a ui-sref="video"><span>watch</span></a>
      </li>
      <li class="nav-menu-item">
        <a ui-sref="listen"><span>listen</span></a>
      </li>
      <li class="nav-menu-item">
        <a ui-sref="shows"><span>live</span></a>
      </li>
      <li class="nav-menu-item">
        <a ui-sref="social"><span>social</span></a>
      </li>
      <li class="nav-menu-item">
        <a ui-sref="contact"><span>contact</span></a>
      </li>
    </ul>
    <p></p>
    <a href="http://ihaveatribe.bandcamp.com/" target="_blank">
      <div class="well text-center" style="margin-bottom: 0px;">
        Yellow Raincoats EP
      </div>
    </a>
  </div>
</div>
