<div class="col-xs-12 col-sm-7 col-md-6 col-lg-5">
  <div class="well">
    <a class="btn btn-default stuck-top-left" ui-sref="home"><i class="fa fa-chevron-left"></i></a>
    <h1 class="text-center">
      listen
    </h1>
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/41875847&auto_play=false&hide_related=false&show_comments=false&show_user=false&show_reposts=false&visual=false"></iframe>
    </div>
  </div>
</div>
