<div class="col-xs-10 col-sm-7 col-md-6 col-lg-5">
  <div class="well">
    <a class="btn btn-default stuck-top-left" ui-sref="home"><i class="fa fa-chevron-left"></i></a>
    <h1 class="text-center">social</h1>
    <ul class="nav nav-pills nav-stacked">
      <li>
        <a href="http://soundcloud.com/i-have-a-tribe" target="_blank"><i class="fa fa-soundcloud"></i>&nbsp;Soundcloud</a>
      </li>
      <li>
        <a href="http://www.twitter.com/IHaveATribe" target="_blank"><i class="fa fa-twitter"></i>&nbsp;Twitter</a>
      </li>
      <li>
        <a href="http://www.youtube.com/channel/UCT8UuHUyOx7XcYZAEwri59w" target="_blank"><i class="fa fa-youtube-play"></i>&nbsp;Youtube</a>
      </li>
      <li>
        <a href="http://instagram.com/ihaveatribe" target="_blank"><i class="fa fa-instagram"></i>&nbsp;Instagram</a>
      </li>
      <li>
        <a href="http://www.facebook.com/IHaveATribe" target="_blank"><i class="fa fa-facebook"></i>&nbsp;Facebook</a>
      </li>
    </ul>
  </div>
</div>
